<!-- Three columns of text below the carousel -->
<div class="container ">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-bold panel-danger">
                <div class="panel-body p-b-lg">
                    <h3 class="m-y-0">Rhianna Loud</h3>
                    <p>Released on Dropp 6 weeks early</p>
                    <hr>
                    <p>Rihanna was the first artist to reach out to Dropp to
                        coordinate her leak. We knew it was going to be the
                        largest unofficial album drop in history. We doubled
                        server capacity and made a shit ton of coffee.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-bold panel-info">
                <div class="panel-body p-b-lg">
                    <h3 class="m-y-0">Magna Carta</h3>
                    <p>Released on Dropp 8 weeks early</p>
                    <hr>
                    <p>It's the twelfth studio album by American rapper Jay Z.
                        It was made available for free digital download for
                        Samsung customers via the Jay Z Magna Carta app on July
                        4, 2013 and Dropp just 3 days later.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
                euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna.</p>
            <p><a class="btn btn-default" href="#" role="button">View
                details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                eget lacinia odio sem nec elit. Cras mattis consectetur purus
                sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View
                details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Vestibulum id ligula porta felis euismod
                semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View
                details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>
