<!-- display the project overview -->
<div class="container " ng-show="getActiveProject().id">

    <div class="row">

        <!-- SIDE BAR -->
        <div class="col-sm-2">


            <button class="btn btn-block btn-default"
                    ng-repeat="option in topics"
                    ng-click="displayTopic(option.topic)">
                {{option.topic}}
            </button>
        </div>

        <!-- PROJECT INFO -->
        <div class="col-sm-10">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{activeProject.id}}</dd>

                <dt>Project</dt>
                <dd>{{activeProject.name}}</dd>

                <dt>Author</dt>
                <dd>{{activeProject.author}}</dd>

                <dt>Description</dt>
                <dd>{{activeProject.description}}</dd>
            </dl>

            <!-- Display view based on sidebar options -->
            <div ng-switch on="selectedTopic">

                <div ng-switch-when="Graph">
                    <!-- =============== PROJECT GRAPH OPTIONS =============== -->
                    <div class="btn-group" role="group" aria-label="...">
                        <!-- reset btn -->
                        <button type="button"
                                class="btn btn-default hvr-icon-sink-away"
                                data-trigger="hover" data-placement="bottom"
                                data-toggle="modal" data-target=".reset"
                                title="Clear the graph. Be careful!">
                            Reset &nbsp;
                        </button>
                        <!-- save btn -->
                        <button type="button"
                                class="btn btn-default hvr-icon-push"
                                data-trigger="hover" data-placement="bottom"
                                data-toggle="modal" data-target=".save"
                                title="Save the current state of the graph for future used">
                            Save &nbsp;
                        </button>
                        <!-- load btn -->
                        <button type="button"
                                class="btn btn-default hvr-icon-spin"
                                data-trigger="hover" data-placement="bottom"
                                data-toggle="modal" data-target=".load"
                                title="Load and previously saved graph">
                            Load &nbsp;
                        </button>

                        <!-- go back one state btn -->
                        <button class="btn btn-default hvr-icon-back"
                                data-trigger="hover" data-placement="bottom"
                                data-toggle="modal" data-target=".goBackOneLevel"
                                title="Return to the previous level">
                            Go Back One Level
                        </button>

                        <!-- go back one state btn -->
                        <button class="btn btn-default hvr-icon-back"
                                data-toggle="modal" data-target=".composition-view">
                            Composition View
                        </button>
                    </div>

                    <ol class="breadcrumb">
                        <li>Composition Level</li>
                        <li ng-repeat="item in parentNodes track by $index">
                            <a ng-click="jumpToState($index)">{{item}}</a>
                        </li>
                    </ol>

                    <hr/>

                    <webservice-gui data="activeProject"></webservice-gui>
                </div>


                <!-- overview scatter plot data (demo) -->
                <div ng-switch-when="Summary">
                    Summary!!!
                    <circle-pack data="circlePack"></circle-pack>
                </div>

                <div ng-switch-default>
                    <code>{{selectedOption}}" Nothing here yet!. Select another
                        options</code>
                </div>

            </div>

            <!-- =============== CONFIRMATION MODAL =============== -->

            <!-- ensure that button and confirm-box are matching! example below
            The data-target should be preceded by a period: . (It is a class)

            on the button element: : data-toggle="modal" data-target=".reset"
            on the confirm-box element: target="reset"-->

            <!-- reset -->
            <confirm-box target="reset" title="Confirm Reset"
                         update-fn="resetGraph()"
                         content="All unsaved changes will be lost. Please confirm.">
            </confirm-box>

            <!-- save -->
            <confirm-box target="save" title="Confirm Save"
                         update-fn="saveGraph()"
                         content="All changes to the graph will be saved. Please confirm.">
            </confirm-box>

            <!-- load -->
            <confirm-box target="load" title="Confirm Load"
                         update-fn="loadGraph()"
                         content="All unsaved changes will be lost when you load a graph. Please confirm.">
            </confirm-box>

            <!-- Go back one level/state -->
            <confirm-box target="goBackOneLevel" title="Confirm Reset"
                         update-fn="goBackOneLevel()"
                         content="Go Back One State">
            </confirm-box>

            <confirm-box target="composition-view" title="Confirm Composition View"
                         update-fn="viewComposition()"
                         content="Composition View">
            </confirm-box>

            <confirm-box target="hello world" title="Confirm Composition View"
                         content="Hello world">
            </confirm-box>
        </div>

    </div>
</div>

<!-- show error if there are no project selected -->
<div class="container" ng-hide="getActiveProject().id">

    <div class="alert alert-danger col-sm-6" role="alert">
        <p>There is nothing to see here. Please select a project first!</p>
    </div>
</div>