<section class="container" >

    <tabs>
        <!-- display all the projects -->
        <pane title="Projects" length="projects.length">
            <project-list></project-list>
        </pane>

        <!-- display the current active project -->
        <pane title="Current Project">
            <project-info></project-info>
        </pane>

        <!-- display issue tickets -->
        <pane title="Issue Tickets"></pane>

        <!-- add a new project -->
        <pane title="Add New Projects">
            <project-form project=""></project-form>
        </pane>

    </tabs>
</section>